---
import Layout from "../layouts/Layout.astro";
import { ArrowRight } from "lucide-react";
import { Button } from "../components/ui/button";
---

<Layout>
	<div class="space-y-8">
		<h1 class="text-4xl font-bold tracking-tight">Hello!</h1>
		
		<nav class="mt-8">
			<ul class="flex gap-4">
				<li>
					<Button asChild client:load>
						<a href="/tech" class="flex items-center gap-2 transition-transform hover:-translate-y-0.5">
							Technologies
							<ArrowRight className="h-4 w-4" />
						</a>
					</Button>
				</li>
			</ul>
		</nav>
	</div>
</Layout>
