---
import { cn } from '@/lib/utils'
import * as icons from 'simple-icons'
import type { SimpleIcon } from 'simple-icons'

interface Props {
  slug: string | undefined
  class?: string
  useIconBaseColor?: boolean
}

function capitalize(str: string) {
  return `${str[0].toUpperCase()}${str.substring(1)}`
}

const { slug, class: className, useIconBaseColor } = Astro.props

const iconObj: SimpleIcon | null = slug ? (icons[`si${capitalize(slug)}` as keyof typeof icons] as SimpleIcon) : null

const fillColor = useIconBaseColor ? `#${iconObj?.hex || 'currentColor'}` : 'currentColor'
---

{
  slug ? (
    <div
      class={cn('*:fill-current', className)}
      style={{
        color: useIconBaseColor ? fillColor : undefined,
      }}
    >
      <Fragment set:html={iconObj?.svg} />
    </div>
  ) : null
}
