---
import { cn } from '@/lib/utils'
import { ImageOffIcon} from '@lucide/astro'
import { parseOpenGraph } from '@/lib/parse-open-graph'
import { preloadImage } from '@/lib/preload-image'
import { Image } from 'astro:assets'


interface Props {
  url: string
  class?: string
}

const { url, class: className } = Astro.props

const meta = await parseOpenGraph(url)
const preloadedImage = meta?.image ? await preloadImage(meta.image) : ''

---

{
  meta?.image ? (
    <Image
      src={preloadedImage || ''}
      alt={meta?.imageAlt || ''}
      width="1200"
      height="630"
      loading="lazy"
      class={cn('w-full h-auto', className)}
    />
  ) : <div class={cn('w-full h-auto text-muted-foreground flex justify-center items-center opacity-20', className)}>
     <ImageOffIcon />
  </div>
}
