---
interface Props {
  href: string
}
const { href } = Astro.props
---

<li>
  <a
    href={href}
    class="flex items-center gap-1.5 text-muted-foreground hover:text-foreground transition-colors font-medium"
  >
    <slot name="icon" />
    <span><slot /></span>
  </a>
</li>
