/* 
 * https://coolors.co/fffff2-351431-775253-bdc696-de6449
 */

* {
    font-family: Consolas, Arial, Helvetica, sans-serif;
}

body {
    color: #fbe4d8;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    background: url("/assets/budapest-nightjpeg.jpeg"); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    background: inherit;

    display: flex;
    flex-flow: row wrap;
    padding: 32px;

    align-items: flex-start;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas: 
    "introduction blogs talks"
    "projects     techs talks";
    grid-gap: 32px;
}

@media (max-width: 1450px) { 
    .content {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
        "introduction talks"
        "blogs        talks"
        "projects     talks"
        "techs        techs";
    }
 }

@media (max-width: 1070px) { 
    .content {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "introduction introduction"
        "blogs        projects"
        "talks        talks"
        "techs        techs";
    }
 }

 @media (max-width: 780px) { 
    .content {
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
        "introduction"
        "blogs"
        "projects"
        "talks"
        "techs";
    }
 }

.profile-pic {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
}

div.glass {
    background: inherit;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0px 0px 20px 8px #00000042
}

div.glass::before {
    content: "";
    background: inherit;
    position: absolute;
    left: -25px; 
    right: -25px;
    top: -25px; 
    bottom: -25px;
    box-shadow: inset 0 0 0 500px rgba(121,121,121,0.3);
    filter: blur(10px);
    z-index: -1;
}

img.logo {
    max-height: 100px;
    margin: 16px 32px 16px 32px;
}

.description {
    max-width: 400px;
    text-align: justify;
}

.fadeIn {
    animation: fadeIn 1s backwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.anim-delay-1 {
    animation-delay: 0.3s;
}

.anim-delay-2 {
    animation-delay: 0.6s;
}

.anim-delay-3 {
    animation-delay: 0.9s;
}

.my-name {
    font-size: 48px;
    margin: 4px 0px 4px 0px;
}

.article-link {
    padding-bottom: 24px;
}

.article-link a,
.repo a {
    font-size: 28px;
    color: #fffff2;
}

.talk-video {
    padding: 16px;
}

svg#tech-vis {
    width: 100%;
    height: 100%;
}

.repo {
    padding-bottom: 24px;
    width: 100%;
}

.introduction {
    grid-area: introduction;
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
    align-items: center;
}

.blogs {
    grid-area: blogs;
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
    align-items: center;
}

.projects {
    grid-area: projects;
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
    align-items: center;
}

.talks {
    grid-area: talks;
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
    align-items: center;
}

.techs {
    grid-area: techs;
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
    align-items: center;
}

.tech-container {
    display: flex;
    flex-flow: row wrap;
}

.tech {
    flex: 1 0 200px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 4px;
}

.tech-logo {
    max-height: 50px;
    margin-right: 16px;
}

.contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.contacts img {
    height: 32px;
    width: 32px;
    margin-left: 8px;
    margin-right: 8px;
}