/* 
 * https://coolors.co/fffff2-351431-775253-bdc696-de6449
 */

* {
    font-family: Consolas, Arial, Helvetica, sans-serif;
}

body {
    color: #fffff2;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top right, #121212, #500000);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.profile-pic {
    width: 400px;
    height: 400px;
}

.flex {
    display: flex;
}

.strip {
    display: flex;
    flex-flow: row nowrap;
    height: 480px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.strip:nth-child(even) {
    background: linear-gradient(to top right, #060606, #121212);
}

.strip.footer {
    background: #121212;
    height: 60px;
}

.strip.narrow {
    height: 120px;
}

.strip.dominant {
    min-height: 480px;
    height: 70vh;
}

.strip .left, .strip .right {
    flex: 1 0 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 16px;
}

.strip .left {
    align-items: flex-end;
}

.strip .right {
    align-items: flex-start;
}

img.logo {
    max-height: 100px;
    margin: 16px 32px 16px 32px;
}

.description {
    max-width: 400px;
    text-align: justify;
}

.fadeIn {
    animation: fadeIn 1s backwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.anim-delay-1 {
    animation-delay: 0.3s;
}

.anim-delay-2 {
    animation-delay: 0.6s;
}

.anim-delay-3 {
    animation-delay: 0.9s;
}

.my-name {
    font-size: 56px;
    margin: 4px 0px 4px 0px;
}

.article-link {
    padding-bottom: 24px;
}

.article-link a {
    font-size: 28px;
    color: #fffff2;
}

.talk-video {
    padding: 16px;
}

svg#tech-vis {
    width: 100%;
    height: 100%;
}